<!doctype html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Welcome back!</h1>

  <!-- LOCAL INFORMATION
  <h3>Local</h3>

  <p>
    <strong>id</strong>: <%= user._id %><br>
    <strong>email</strong>: <%= user.local.email %><br>
    <strong>password</strong>: <%= user.local.password %>
  </p>
  -->
  
  <h3>Here are your Notes</h3><a href="/createNote">Create Note</a>

  <ul>
    <% for (var i = 0; i < data.length; i++) { %>
    <li>
      Title: <%= data[i].title %>
      <br>
      Text: <%= data[i].text %>
    </li>
    <br>
    <% } %>
  </ul>

  <!--<% console.log('front end', data) %> -->
  <!-- <p><%= data[0].title %></p> -->

<a href="/logout">Logout</a>
</body>
</html>
